body {
    padding-right:20px;
    padding-left: 20px;
    font-size:20px;
}
img {
    float:right;
    width:20%;
    height:auto;
    padding-bottom:5px;
}
p {
    text-indent:10px;
    font-size:18px;
}
.slidecontainer {
    float:right;
    text-indent:1em;
}
.slider {
    float:right;
    width:8%;
    height:auto;
}
canvas { 
    float:left;
    padding-right:5px;
    width:75vw;
    height:75vh;
    border:1px solid grey;
}
button {
    line-height:1.5;
    font-size:18px;
    margin-top: 2px;
    margin-bottom:5px;
    margin-right:5px;
}
