body {
    padding-right:20px;
    padding-left: 20px;
    font-size:20px;
}
img {
    float:right;
    width:18vw;
    height:auto;
    padding-bottom:5px;
}
p {
    padding-right:5px;
    padding-left:5px;
    text-indent:10px;
    font-size:16px;
}
.slidecontainer {
    float:right;
    text-indent:1em;
    padding-bottom:1px;
}
.slider {
    width:5%;
    height:auto;
}
canvas {
    padding-right:5px;
    border:1px solid grey;
}
#canvas {
    float:left;
    width:75vw;
    height:75vh;
}
#preview { 
    width:7vw;
    style.width='400px';
    style.height='400px';
    height:7vw;
    height:7vw;
    border:1px solid grey;
    margin-left:5px;

}
button {
    line-height:1.5;
    font-size:18px;
    margin-top: 2px;
    margin-right:5px;
    margin-left:5px;
}
